[user]
	name = James Puellmann
	email = james.puellmann@gmail.com
[core]
	editor = vim
[merge]
	tool = meld
[color]
	interactive = auto
	diff = auto
	status = auto
	branch = auto
[gui]
	fontui = -family \"DejaVu Sans\" -size 10 -weight normal -slant roman -underline 0 -overstrike 0
	fontdiff = -family \"DejaVu Sans Mono\" -size 10 -weight normal -slant roman -underline 0 -overstrike 0
	recentrepo = /home/jpuellmann/bin
	recentrepo = /home/jpuellmann/.crypt
	tabsize = 4
	recentrepo = /home/jpuellmann/vagrants/nyt-vagrant-sandbox
	recentrepo = /home/jpuellmann/vagrants/infra-sw/spacewalk-utils
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	a = add
[push]
	default = simple
